# Practical - 6

## Find the Missing Data in the given file cars.csv and print it.

In [12]:
import pandas as pd

car = pd.read_csv("res/cars.csv", sep=';', header=[0,1])
car.isnull()

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
,STRING,DOUBLE,INT,DOUBLE,DOUBLE,DOUBLE,DOUBLE,INT,CAT
0,False,True,False,False,False,False,False,False,False
1,False,False,False,False,True,False,False,False,False
2,False,True,False,False,False,False,False,False,False
3,False,False,False,True,False,True,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
401,False,False,False,False,False,False,False,False,False
402,False,False,False,False,False,False,False,False,False
403,False,False,False,False,False,False,False,False,False
404,False,False,False,False,False,False,False,False,False
405,False,False,False,False,False,False,False,False,False

## Impute the missing data with all the methods (mean, median and most_frequent)

In [2]:
conda install scikit-learn

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: D:\Shreya\Anaconda

  added / updated specs:
    - scikit-learn


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    conda-4.8.5                |           py37_0         2.9 MB
    ------------------------------------------------------------
                                           Total:         2.9 MB

The following packages will be UPDATED:

  conda                        anaconda::conda-4.8.3-py37_0 --> pkgs/main::conda-4.8.5-py37_0



Downloading and Extracting Packages

conda-4.8.5          | 2.9 MB    |            |   0%
conda-4.8.5          | 2.9 MB    |            |   1%
conda-4.8.5          | 2.9 MB    | 1          |   2%
conda-4.8.5          | 2.9 MB    | 3          |   3%
conda-4.8.5          | 2.9 MB    | 4          |   5%
conda-4.8.5          | 2.9 MB    | 7          |   7%
conda-4.8.5          | 2.9 MB    | 8          |   9%
conda-4.8.5          | 2.9 MB    | #          |  11%
conda-4.8.5          | 2.9 MB    | #3         |  13%
conda-4.8.5          | 2.9 MB    | #5         |  15%
conda-4.8.5          | 2.9 MB    | #7         |  17%
conda-4.8.5          | 2.9 MB    | #9         |  20%
conda-4.8.5          | 2.9 MB    | ##1        |  21%
conda-4.8.5          | 2.9 MB    | ##2        |  23%
conda-4.8.5          | 2.9 MB    | ##4        |  25%
conda-4.8.5          | 2.9 MB    | ##6        |  26%
conda-4.8.5          | 2.9 MB    | ##7        |  28%
conda-4.8.5          | 2.9 MB    | ##9        |  30%
conda-4.8.5          | 2.9 MB    | ###1       |  31%
conda-4.8.5          | 2.9 MB    | ###2       |  33%
conda-4.8.5          | 2.9 MB    | ###4       |  34%
conda-4.8.5          | 2.9 MB    | ###6       |  36%
conda-4.8.5          | 2.9 MB    | ###8       |  38%
conda-4.8.5          | 2.9 MB    | ###9       |  40%
conda-4.8.5          | 2.9 MB    | ####2      |  42%
conda-4.8.5          | 2.9 MB    | ####4      |  44%
conda-4.8.5          | 2.9 MB    | ####7      |  48%
conda-4.8.5          | 2.9 MB    | #####      |  50%
conda-4.8.5          | 2.9 MB    | #####4     |  54%
conda-4.8.5          | 2.9 MB    | #####7     |  57%
conda-4.8.5          | 2.9 MB    | ######     |  60%
conda-4.8.5          | 2.9 MB    | ######2    |  63%
conda-4.8.5          | 2.9 MB    | ######5    |  66%
conda-4.8.5          | 2.9 MB    | ######8    |  69%
conda-4.8.5          | 2.9 MB    | #######2   |  72%
conda-4.8.5          | 2.9 MB    | #######5   |  75%
conda-4.8.5          | 2.9 MB    | #######8   |  79%
conda-4.8.5          | 2.9 MB    | ########3  |  84%
conda-4.8.5          | 2.9 MB    | ########6  |  87%
conda-4.8.5          | 2.9 MB    | #########  |  90%
conda-4.8.5          | 2.9 MB    | #########3 |  93%
conda-4.8.5          | 2.9 MB    | #########6 |  97%
conda-4.8.5          | 2.9 MB    | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install sklearn

Collecting sklearn
  Downloading sklearn-0.0.tar.gz (1.1 kB)
Requirement already satisfied: scikit-learn in d:\shreya\anaconda\lib\site-packages (from sklearn) (0.22.1)
Requirement already satisfied: numpy>=1.11.0 in d:\shreya\anaconda\lib\site-packages (from scikit-learn->sklearn) (1.18.4)
Requirement already satisfied: joblib>=0.11 in d:\shreya\anaconda\lib\site-packages (from scikit-learn->sklearn) (0.14.1)
Requirement already satisfied: scipy>=0.17.0 in d:\shreya\anaconda\lib\site-packages (from scikit-learn->sklearn) (1.4.1)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py): started
  Building wheel for sklearn (setup.py): finished with status 'done'
  Created wheel for sklearn: filename=sklearn-0.0-py2.py3-none-any.whl size=1320 sha256=885e6691fb9279150b655aa6478239e5d01b5bc5b842e2b3bb6ea577d32258b3
  Stored in directory: c:\users\shreya\appdata\local\pip\cache\wheels\46\ef\c3\157e41f5ee1372d1be90b09f74f82b10e391eaacca8f22d33e
Successfully built sklearn
Installing collected packages: sklearn
Successfully installed sklearn-0.0
Note: you may need to restart the kernel to use updated packages.

## Impute the missing data with all the methods (mean, median and most_frequent)

In [1]:
import pandas as pd
from sklearn.impute import SimpleImputer

car = pd.read_csv("res/cars.csv", sep=';', header=[0,1])

imp_mean = SimpleImputer(strategy='mean')
imp_mean.fit_transform(car)
imp_mean

ValueError: Cannot use mean strategy with non-numeric data:
could not convert string to float: 'Chevrolet Chevelle Malibu'

In [28]:
imp_median = SimpleImputer(strategy='median')
imp_median.fit(car)
x = pd.DataFrame(imp_median.transform(car))
x

ValueError: Cannot use median strategy with non-numeric data:
could not convert string to float: 'Chevrolet Chevelle Malibu'

In [24]:
import pandas as pd
car = pd.read_csv("res/cars.csv", sep=";", header=[0,1])
car.fillna(car.mean())

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
,STRING,DOUBLE,INT,DOUBLE,DOUBLE,DOUBLE,DOUBLE,INT,CAT
0,Chevrolet Chevelle Malibu,23.096278,8,307.000000,130.000000,3504.000000,12.0,70,US
1,Buick Skylark 320,15.000000,8,350.000000,103.143564,3693.000000,11.5,70,US
2,Plymouth Satellite,23.096278,8,318.000000,150.000000,3436.000000,11.0,70,US
3,AMC Rebel SST,16.000000,8,194.509877,150.000000,2978.293827,12.0,70,US
4,Ford Torino,17.000000,8,302.000000,140.000000,3449.000000,10.5,70,US
...,...,...,...,...,...,...,...,...,...
401,Ford Mustang GL,27.000000,4,140.000000,86.000000,2790.000000,15.6,82,US
402,Volkswagen Pickup,44.000000,4,97.000000,52.000000,2130.000000,24.6,82,Europe
403,Dodge Rampage,32.000000,4,135.000000,84.000000,2295.000000,11.6,82,US
404,Ford Ranger,28.000000,4,120.000000,79.000000,2625.000000,18.6,82,US
405,Chevy S-10,31.000000,4,119.000000,82.000000,2720.000000,19.4,82,US

In [25]:
import pandas as pd
car = pd.read_csv("res/cars.csv", sep=";", header=[0,1])
car.fillna(car.median())

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
,STRING,DOUBLE,INT,DOUBLE,DOUBLE,DOUBLE,DOUBLE,INT,CAT
0,Chevrolet Chevelle Malibu,22.5,8,307.0,130.0,3504.0,12.0,70,US
1,Buick Skylark 320,15.0,8,350.0,92.5,3693.0,11.5,70,US
2,Plymouth Satellite,22.5,8,318.0,150.0,3436.0,11.0,70,US
3,AMC Rebel SST,16.0,8,151.0,150.0,2815.0,12.0,70,US
4,Ford Torino,17.0,8,302.0,140.0,3449.0,10.5,70,US
...,...,...,...,...,...,...,...,...,...
401,Ford Mustang GL,27.0,4,140.0,86.0,2790.0,15.6,82,US
402,Volkswagen Pickup,44.0,4,97.0,52.0,2130.0,24.6,82,Europe
403,Dodge Rampage,32.0,4,135.0,84.0,2295.0,11.6,82,US
404,Ford Ranger,28.0,4,120.0,79.0,2625.0,18.6,82,US
405,Chevy S-10,31.0,4,119.0,82.0,2720.0,19.4,82,US

In [4]:
import pandas as pd
from sklearn.impute import SimpleImputer

car = pd.read_csv("res/cars.csv", sep=';', header=[0,1])
imp_mf = SimpleImputer(strategy='most_frequent')
imp_mf.fit(car)
x = pd.DataFrame(imp_mf.transform(car))
x

                             0   1  2    3    4     5     6   7       8
0    Chevrolet Chevelle Malibu  13  8  307  130  3504    12  70      US
1            Buick Skylark 320  15  8  350  150  3693  11.5  70      US
2           Plymouth Satellite  13  8  318  150  3436    11  70      US
3                AMC Rebel SST  16  8   97  150  1985    12  70      US
4                  Ford Torino  17  8  302  140  3449  10.5  70      US
..                         ...  .. ..  ...  ...   ...   ...  ..     ...
401            Ford Mustang GL  27  4  140   86  2790  15.6  82      US
402          Volkswagen Pickup  44  4   97   52  2130  24.6  82  Europe
403              Dodge Rampage  32  4  135   84  2295  11.6  82      US
404                Ford Ranger  28  4  120   79  2625  18.6  82      US
405                 Chevy S-10  31  4  119   82  2720  19.4  82      US

[406 rows x 9 columns]

## Delete all the missing data entry in cars.csv

In [49]:
import pandas as pd

car = pd.read_csv("res/cars.csv", sep=';', header=[0,1])
car.dropna(inplace=True)
car

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
,STRING,DOUBLE,INT,DOUBLE,DOUBLE,DOUBLE,DOUBLE,INT,CAT
4,Ford Torino,17.0,8,302.0,140.0,3449.0,10.5,70,US
6,Chevrolet Impala,14.0,8,454.0,220.0,4354.0,9.0,70,US
7,Plymouth Fury iii,14.0,8,440.0,215.0,4312.0,8.5,70,US
8,Pontiac Catalina,14.0,8,455.0,225.0,4425.0,10.0,70,US
9,AMC Ambassador DPL,15.0,8,390.0,190.0,3850.0,8.5,70,US
...,...,...,...,...,...,...,...,...,...
401,Ford Mustang GL,27.0,4,140.0,86.0,2790.0,15.6,82,US
402,Volkswagen Pickup,44.0,4,97.0,52.0,2130.0,24.6,82,Europe
403,Dodge Rampage,32.0,4,135.0,84.0,2295.0,11.6,82,US
404,Ford Ranger,28.0,4,120.0,79.0,2625.0,18.6,82,US
405,Chevy S-10,31.0,4,119.0,82.0,2720.0,19.4,82,US